@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities{
  [v-cloak] { display:none !important; }

  .max-w-reading {
    @apply w-full  lg:max-w-xl xl:max-w-xl
  }

  .link {
    @apply text-links underline;
  }

  .border-default {
    @apply border-td-borders;
  }
  
  .heading {
    @apply font-sans text-headings;
  }
  
  .icon {
    @apply h-5 w-5 text-icon hover:text-icon-hover cursor-pointer;
  }
  
  .h-separator {
    @apply w-full border-t border-td-borders;
  }

  .sticky-h-separator {
    @apply h-separator sticky top-14;
  }
  
  .body {
    @apply font-sans bg-body-bg;
  }

  .pg-headline {
    @apply font-sans text-2xl font-semibold w-fit border-b-2 py-2 border-pg-border;
  }
  
  .edt-introduction, .edt-summary, .edt-tag, .edt-keyword {
    @apply text-sm font-sans;
  }
  .edt-introduction::before{
    content: 'Introduction: ';
    @apply font-bold;
  }
  .edt-summary::before{
    content: 'Summary: ';
    @apply font-bold;
  }
  .edt-tag::before{
    content: 'Tags: ';
    @apply font-bold;
  }
  .edt-keyword::before{
    content: 'Keywords: ';
    @apply font-bold;
  }
  
  .delimiter {
    @apply my-8 border-t;
  }
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans text-headings;
  }

  blockquote > p{
    @apply text-2xl
  }

  body {
    @apply text-base lg:text-lg;
  }

  header, footer {
    @apply text-base lg:text-[17px]
  }
}
